<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Cadastro Produto</title>
</head>
<body>

  <header>
    <figure class="logo">
      <img src="../assets/img/logo.png">
      <span>Xhopii</span>
    </figure>
    <nav class="menu">
      <a href="#">Sair</a>
    </nav>
  </header>

  <nav class="navbar">
    <a href="#">Home</a>
    <a href="#">Cadastro Cliente</a>
    <a href="#">Cadastro Funcionário</a>
    <a href="#">Cadastro Produto</a>
    <a href="#">Ver Clientes</a>
    <a href="#">Ver Funcionários</a>
    <a href="#">Ver Produtos</a>
  </nav>

  <main>
    <section class="login-box">
      <h2>Cadastrar Produto</h2>
      <label for="nome"></label>
      <input type="text" id="nome" name="nome" placeholder="Nome">
      <label for="fabricante"></label>
      <input type="text" id="fabricante" name="fabricante" placeholder="Fabricante">
      <label for="descricao"></label>
      <input type="text" id="descricao" name="descricao" placeholder="Descrição">
      <label for="valor"></label>
      <input type="text" id="valor" name="valor" placeholder="Valor">
      <label for="quantidade"></label>
      <input type="text" id="quantidade" name="quantidade" placeholder="Quantidade">
      <p class="foto-label">Selecionar foto do produto:</p>
      <input type="file" id="foto" name="foto">
      <button>CADASTRAR</button>
    </section>
  </main>

  <footer>
    <section class="footer-content">
      <section>
        <h4>ATENDIMENTO AO CLIENTE</h4>
        <p>Central de Ajuda</p>
        <p>Como Comprar</p>
        <p>Métodos de Pagamento</p>
        <p>Garantia Xhopii</p>
        <p>Devolução e Reembolso</p>
        <p>Fale Conosco</p>
        <p>Ouridoria</p>
      </section>
      <section>
        <h4>SOBRE A XHOPI</h4>
        <p>Sobre Nós</p>
        <p>Política de Privacidade</p>
        <p>Programa de Aliados da Xhopii</p>
        <p>Seja um entregador Xhopii</p>
        <p>Ofertas Relâmpago</p>
        <p>Xhopii Blog</p>
        <p>Impresa</p>
      </section>
      <section>
        <h4>PAGAMENTO</h4>
        <section class="metodos-compra">
          <img src="../assets/img/logo-visa.png" alt="Visa">
          <img src="../assets/img/logo-mastercard.png" alt="Mastercard">
          <img src="../assets/img/logo-american-express.png" alt="Amex">
          <img src="../assets/img/logo-boleto.png" alt="Boleto">
          <img src="../assets/img/logo-hipercard.png" alt="Hipercard">
          <img src="../assets/img/logo-elo.png" alt="Elo">
        </section>
      </section>
      <section>
        <h4>SIGA-NOS</h4>
        <ul>
          <li><a href="#"><img src="../assets/img/logo-instagram.png" alt="Instagram"> Instagram</a></li>
          <li><a href="#"><img src="../assets/img/logo-twitter.png" alt="Twitter"> Twitter</a></li>
          <li><a href="#"><img src="../assets/img/logo-facebook.png" alt="Facebook"> Facebook</a></li>
          <li><a href="#"><img src="../assets/img/logo-youtube.png" alt="YouTube"> YouTube</a></li>
          <li><a href="#"><img src="../assets/img/logo-linkedln.png" alt="LinkedIn"> LinkedIn</a></li>
        </ul>
      </section>
      <section>
        <h4>ATENDIMENTO AO CLIENTE</h4>
        <img src="../assets/img/qr-code.png" alt="QR Code" class="codigo-acesso">
        <section class="atalhos-loja">
          <img src="../assets/img/logo-google-play.png" alt="Google Play">
          <img src="../assets/img/logo-store-apple.png" alt="App Store">
        </section>
      </section>
    </section>
    <p class="copyright">
      © 2023 Xhopii. Todos os direitos acadêmicos reservados
    </p>
  </footer>
  <script src="../assets/script.js"></script>
</body>
</html>