<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Xhopii</title>
</head>
<body>
    <nav class="topo"> 
        <div class="logo">
            <img src="logo.png" alt="logo">
            <h1>Xhoppi <span>Entre</span></h1>
           
        </div>

         <h2 class="ajuda">Precisa de ajuda?</h2>

    </nav>

    <section class="container">
        <div class="caixa">
            <h2>Login</h2>
            <div class="form">
            <input type="email" placeholder="Email">
            <input type="senha" placeholder="Senha">
            <button>Entre</button>
            </div>
        </div>
    </section>

     <footer>
        <section class="footer-container">
            <article class="footer-coluna">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <ul>
                    <li><a href="#">Central de Ajuda</a></li>
                    <li><a href="#">Como Comprar</a></li>
                    <li><a href="#">Métodos de Pagamento</a></li>
                    <li><a href="#">Garantia Xhopii</a></li>
                    <li><a href="#">Devolução e Reembolso</a></li>
                    <li><a href="#">Fale Conosco</a></li>
                    <li><a href="#">Ouvidoria</a></li>
                </ul>
            </article>
            
            <article class="footer-coluna">
                <h4>SOBRE A XHOPII</h4>
                <ul>
                    <li><a href="#">Sobre Nós</a></li>
                    <li><a href="#">Políticas Xhopii</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Programa de Afiliados da Xhopii</a></li>
                    <li><a href="#">Seja um Entregador Xhopii</a></li>
                    <li><a href="#">Ofertas Relâmpago</a></li>
                    <li><a href="#">Xhopii Blog</a></li>
                    <li><a href="#">Imprensa</a></li>
                </ul>
            </article>
            
            <article class="footer-coluna">
                <h4>PAGAMENTO</h4>
                <section class="pagamento-icones">
                    <img src="assets/img/logo-visa.png" alt="Visa">
                    <img src="assets/img/logo-mastercard.png" alt="Mastercard">
                    <img src="assets/img/logo-american-express.png" alt="American Express">
                    <img src="assets/img/logo-boleto.png" alt="Boleto">
                    <img src="assets/img/logo-hipercard.png" alt="Hipercard">
                    <img src="assets/img/logo-elo.png" alt="Elo">
                </section>
            </article>
            
            <article class="footer-coluna">
                <h4>SIGA-NOS</h4>
                <ul>
                    <li><a href="#"><img src="assets/img/logo-instagram.png" alt="Instagram"> Instagram</a></li>
                    <li><a href="#"><img src="assets/img/logo-twitter.png" alt="Twitter"> Twitter</a></li>
                    <li><a href="#"><img src="assets/img/logo-facebook.png" alt="Facebook"> Facebook</a></li>
                    <li><a href="#"><img src="assets/img/logo-youtube.png" alt="YouTube"> YouTube</a></li>
                    <li><a href="#"><img src="assets/img/logo-linkedln.png" alt="LinkedIn"> LinkedIn</a></li>
                </ul>
            </article>

            <article class="footer-coluna">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <img src="assets/img/qr-code.png" alt="QR Code" class="qr-code">
                <section class="app-links">
                    <img src="assets/img/logo-google-play.png" alt="Google Play">
                    <img src="assets/img/logo-store-apple.png" alt="App Store">
                </section>
            </article>
        </section>

        <section class="footer-bottom">
            <p>© 2023 Xhopii. Todos os direitos acadêmicos reservados.</p>
        </section>
    </footer>
</body>
</html>