<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Página Login</title>
</head>
<body>

  <header>
    <figure class="logo">
      <img src="img/logo.png">
      <span>Xhopii</span>
      <h2>Entre</h2>
    </figure>
    <nav class="menu">
      <a href="#">Precisa de ajuda?</a>
    </nav>
  </header>

  <main>
    <section class="login-box">
      <h2>Login</h2>
      <label for="email"></label>
      <input type="email" id="email" name="email" placeholder="Email" required>
      <label for="password"></label>
      <input type="password" id="password" name="password" placeholder="Senha">
      <button>ENTRE</button>
      <nav class="links">
        <a href="#">Esqueci minha senha</a>
        <a href="#">Fazer login com SMS</a>
      </nav>
      <p class="ou">OU</p>
      <section class="social">
        <button>
          <img src="img/logo_facebook.png" width="25" height="24">Facebook
        </button>
        <button>
          <img src="img/logo_google.png" width="25" height="24">Google
        </button>
        <button>
          <img src="img/logo_apple.png" width="25" height="24">Apple
        </button>
      </section>
      <p class="cadastro">
        Novo na Xhopii? <a href="#">Cadastrar</a>
      </p>
    </section>
  </main>

  <footer>
    <section class="footer-content">
      <section>
        <h4>ATENDIMENTO AO CLIENTE</h4>
        <p>Central de Ajuda</p>
        <p>Como Comprar</p>
        <p>Métodos de Pagamento</p>
        <p>Garantia Xhopii</p>
        <p>Devolução e Reembolso</p>
        <p>Fale Conosco</p>
        <p>Ouridoria</p>
      </section>
      <section>
        <h4>SOBRE A XHOPI</h4>
        <p>Sobre Nós</p>
        <p>Política de Privacidade</p>
        <p>Programa de Aliados da Xhopii</p>
        <p>Seja um entregador Xhopii</p>
        <p>Ofertas Relâmpago</p>
        <p>Xhopii Blog</p>
        <p>Impresa</p>
      </section>
      <section>
        <h4>PAGAMENTO</h4>
        <figure class="pagamento">
          <img src="img/logo_pix.png">
          <img src="img/logo_boleto.png">
          <img src="img/logo_american.png">
          <img src="img/logo_visa.png">
          <img src="img/logo_mastercard.png">
          <img src="img/logo_hipercard.png">
          <img src="img/logo_elo.png">
        </figure>
      </section>
      <section>
        <h4>SIGA-NOS</h4>
        <ul class="siganos">
          <li class="siganos-item">
            <img src="img/logo_insta.png">
            <span>Instagram</span>
          </li>
          <li class="siganos-item">
            <img src="img/logo_twitter.png">
            <span>Twitter</span>
          </li>
          <li class="siganos-item">
            <img src="img/logo_face.png">
            <span>Facebook</span>
          </li>
          <li class="siganos-item">
            <img src="img/logo_yt.png">
            <span>YouTube</span>
          </li>
          <li class="siganos-item">
            <img src="img/logo_linkedin.png">
            <span>LinkedIn</span>
          </li>
        </ul>
      </section>
      <section>
        <h4>ATENDIMENTO AO CLIENTE</h4>
        <figure class="atendimento-cli">
          <img src="img/logo_qrcode.png">
          <img src="img/logo_gplay.png">
          <img src="img/logo_appstore.png">
        </figure>
      </section>
    </section>
    <p class="copyright">
      © 2023 Xhopii. Todos os direitos acadêmicos reservados
    </p>
  </footer>

</body>
</html>