<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style.css">
    <title>Xhopii - Ver Produto</title>
</head>
<body class="fundo-limpo">
    <header>
        <section class="topo-marca">
            <figure>
                <img src="../assets/img/logo.png" alt="Xhopii Logo">
            </figure>
            <h1>Xhopii</h1>
        </section>
        <a href="login.html" id="botao-sair">Sair</a>
    </header>

    <nav class="menu-neutro">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="cadastro-cliente.html">Cadastro Cliente</a></li>
            <li><a href="cadastro-funcionario.html">Cadastro Funcionário</a></li>
            <li><a href="cadastro-produto.html">Cadastro Produto</a></li>
            <li><a href="cadastro-loja.html">Cadastro Loja</a></li>
            <li><a href="cadastro-cupom.html">Cadastro Cupom</a></li>
            <li><a href="visualizar-clientes.html">Ver Clientes</a></li>
            <li><a href="visualizar-funcionarios.html">Ver Funcionários</a></li>
            <li><a href="visualizar-produto.html">Ver Produtos</a></li>
            <li><a href="visualizar-loja.html">Ver Lojas</a></li>
            <li><a href="visualizar-cupom.html">Ver Cupons</a></li>
        </ul>
    </nav>

    <main>
        <section id="galeria">
            <aside>
                <img src="../assets/img/produto2.png" alt="Camisa Azul Escuro">
                <img src="../assets/img/produto3.png" alt="Camisa Verde">
                <img src="../assets/img/produto4.png" alt="Camisa Cinza">
                <img src="../assets/img/produto5.png" alt="Camisa Rosa">
                <img src="../assets/img/produto1.png" alt="Camisa Preta">
            </aside>
            <figure>
                <img src="../assets/img/produto1.png" alt="Camisa Principal">
            </figure>
        </section>

        <section id="detalhes-produto">
            <h2>Camisa Desenvolvedor Front-End CSS</h2>
            <p id="preco">R$56,90</p>
            <p id="estoque">171 peças disponíveis</p>

            <article class="opcoes-estilo">
                <p>Modelos:</p>
                <ul>
                    <li><button>Preto</button></li>
                    <li><button>Azul</button></li>
                    <li><button>Verde</button></li>
                    <li><button>Cinza</button></li>
                    <li><button>Rosa</button></li>
                </ul>
            </article>

            <article class="opcoes-estilo">
                <p>Tamanhos:</p>
                <ul>
                    <li><button>P</button></li>
                    <li><button>M</button></li>
                    <li><button>G</button></li>
                    <li><button>GG</button></li>
                </ul>
            </article>

            <p id="tamanho-selecionado">Tamanho Selecionado: P</p>

            <button id="botao-comprar">Comprar Agora</button>
        </section>
    </main>

    <footer>
        <section class="rodape-conteudo">
            <article class="rodape-secao">
                <h4>ATENDIMENTO AO CLIENTE</h4>
                <ul>
                    <li><a href="#">Central de Ajuda</a></li>
                    <li><a href="#">Como Comprar</a></li>
                    <li><a href="#">Métodos de Pagamento</a></li>
                    <li><a href="#">Garantia Xhopii</a></li>
                    <li><a href="#">Devolução e Reembolso</a></li>
                    <li><a href="#">Fale Conosco</a></li>
                    <li><a href="#">Ouvidoria</a></li>
                </ul>
            </article>
            <article class="rodape-secao">
                <h4>SOBRE A XHOPII</h4>
                <ul>
                    <li><a href="#">Sobre Nós</a></li>
                    <li><a href="#">Políticas Xhopii</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Programa de Afiliados da Xhopii</a></li>
                    <li><a href="#">Seja um Entregador Xhopii</a></li>
                    <li><a href="#">Ofertas Relâmpago</a></li>
                    <li><a href="#">Xhopii Blog</a></li>
                    <li><a href="#">Imprensa</a></li>
                </ul>
            </article>
            <article class="rodape-secao">
                <h4>PAGAMENTO</h4>
                <section class="metodos-compra">
                    <img src="../assets/img/logo-visa.png" alt="Visa">
                    <img src="../assets/img/logo-mastercard.png" alt="Mastercard">
                    <img src="../assets/img/logo-american-express.png" alt="American Express">
                    <img src="../assets/img/logo-boleto.png" alt="Boleto">
                    <img src="../assets/img/logo-hipercard.png" alt="Hipercard">
                    <img src="../assets/img/logo-elo.png" alt="Elo">
                </section>
            </article>
            <article class="rodape-secao">
                <h4>SIGA-NOS</h4>
                <ul>
                    <li><a href="#"><img src="../assets/img/logo-instagram.png" alt="Instagram"> Instagram</a></li>
                    <li><a href="#"><img src="../assets/img/logo-twitter.png" alt="Twitter"> Twitter</a></li>
                    <li><a href="#"><img src="../assets/img/logo-facebook.png" alt="Facebook"> Facebook</a></li>
                    <li><a href="#"><img src="../assets/img/logo-youtube.png" alt="YouTube"> YouTube</a></li>
                    <li><a href="#"><img src="../assets/img/logo-linkedln.png" alt="LinkedIn"> LinkedIn</a></li>
                </ul>
            </article>
            <article class="rodape-secao">
                <h4>BAIXE O APP</h4>
                <img src="../assets/img/logo-qr-code.png" alt="QR Code" class="codigo-acesso">
                <section class="atalhos-loja">
                    <img src="../assets/img/logo-google-play.png" alt="Google Play">
                    <img src="../assets/img/logo-store-apple.png" alt="App Store">
                </section>
            </article>
        </section>
        <section class="rodape-fim">
            <p>© 2023 Xhopii. Todos os direitos acadêmicos reservados.</p>
        </section>
    </footer>

    <script src="../assets/script.js"></script>
</body>
</html>