<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xhopii</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body class="fundo-limpo">
    <header>
        <section class="topo-marca">
            <figure>
                <img src="../assets/img/logo.png" alt="Xhopii Logo">
            </figure>
            <h1>Xhopii</h1>
        </section>
    </header>
    
    <nav class="menu-neutro">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="cadastro-cliente.html">Cadastro Cliente</a></li>
            <li><a href="cadastro-funcionario.html">Cadastro Funcionário</a></li>
            <li><a href="cadastro-produto.html">Cadastro Produto</a></li>
            <li><a href="visualizar-clientes.html">Ver Clientes</a></li>
            <li><a href="visualizar-funcionarios.html">Ver Funcionários</a></li>
            <li><a href="visualizar-produtos.html">Ver Produtos</a></li>
        </ul>
    </nav>
    
    <main>
        <section id="galeria">
            <aside>
                <img src="../assets/img/camiseta-azul.png" alt="Miniatura 1">
                <img src="../assets/img/camiseta-verde.png" alt="Miniatura 2">
                <img src="../assets/img/camiseta-cinza.png" alt="Miniatura 3">
                <img src="../assets/img/camiseta-rosa.png" alt="Miniatura 4">
                <img src="../assets/img/camiseta-preta.png" alt="Miniatura 5">
            </aside>
            <figure>
                <img src="../assets/img/camiseta-preta.png" alt="Camisa Principal">
            </figure>
        </section>
        
        <section id="detalhes-produto">
            <h2>Camisa Desenvolvedor Front-End CSS</h2>
            <p id="preco">R$56,90</p>
            <p id="estoque">171 peças disponíveis</p>
            
            <article class="opcoes-estilo">
                <p>Modelos:</p>
                <ul>
                    <li><button>Preto</button></li>
                    <li><button>Azul</button></li>
                    <li><button>Verde</button></li>
                    <li><button>Cinza</button></li>
                    <li><button>Rosa</button></li>
                </ul>
            </article>
            
            <article class="opcoes-estilo">
                <p>Tamanhos:</p>
                <ul>
                    <li><button>P</button></li>
                    <li><button>M</button></li>
                    <li><button>G</button></li>
                    <li><button>GG</button></li>
                </ul>
            </article>
            
            <p id="tamanho-selecionado">Tamanho Selecionado: P</p>
            
            <button id="botao-comprar">Comprar Agora</button>
        </section>
    </main>
    <script src="assets\script.js"></script>
</body>
</html>